<footer class="c-footer">
  <a href="<%- typeof basePath !== 'undefined' ? basePath : '' %>">Top</a>
</footer>
<!-- end footer -->

<!-- JS lib -->
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/slick.min.js"></script>
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/main.js"></script>
