<header class="c-header">
  <div class="c-inner">
    <div class="c-inner__image">
      <img src="./assets/images/main.png" alt="">
    </div>
    <div class="c-inner__image2">
      <img width="43%" src="./assets/images/main2.png" alt="">
    </div>
  </div>
</header>
